*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

html,body {
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(158, 186, 166);
}

#panel {
    overflow: hidden;
    width: 85%;
    height: 85%;
    border-radius: 5px;
    background-color: #ffffff
}
#ptop {

    justify-content: space-between;
    padding: 0px 30%;
    align-items: center;
    display: flex;
    color: #ffffff;
    width: 100%;
    height: 100px;
    background-color: rgb(49, 97, 62);
}

.elem {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    
}

.elem h2{
    font-size: 22px;
    font-weight: 600;
}

.box {
    padding: 10px 20px;
    color: rgb(6, 117, 148);
    font-size: 25px;
    font-weight: 700;
    background-color: #ffffff;
    border-radius: 5px;
}

#pbtm {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
    
}

.bubble{
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(98, 219, 253);
    border-radius: 50px;
    color: rgb(52, 6, 94);
    font-weight: 600;
    font-size: 25px;
}

.bubble:hover{
    background-color: rgb(27, 109, 132);
    cursor: pointer;
    color: #ffffff;
}